.lamp {
	border-radius: 50%;
	width: 130px;
	height: 130px;
	border: lightblue 4px solid;
	background-color: #3e3e3e;
	float: left;
	margin: 20px;
}
.lightOn {
	background-color: yellow;
}
.first {
	clear: left;
}
